.service-component-wrapper {
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-component-wrapper p {
  text-align: left;
}

.service-wrapper {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
}

.service-header {
  font-size: 3em;
}

.service-item {
  width: 70%;
  margin: 20px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
}

.service-icon {
  width: 30%;
}

@media (max-width: 450px) {
  .service-wrapper {
    grid-template-columns: 1fr;
  }
  .service-header {
    font-size: 2em;
  }

  .service-item {
    font-size: 1.2em;
    text-align: initial;
  }
}
