body {
  background: url("https://res.cloudinary.com/bfrest/image/upload/v1548419798/graphy.png");
  color: #111;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  line-height: 2.5em;
}
