body {
  background: url("https://res.cloudinary.com/bfrest/image/upload/v1544274683/blog/topography.png");
  color: #333;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  line-height: 2.5em;
}
